{#
/**
 * @file
 * Default output for a Views style FlexSlider object.
 *
 * Available variables:
 * - attributes: An array of attributes to apply to the element.
 * - content: A renderable array of the flexslider object
 *
 * @see template_preprocess_flexslider_views_style()
 */
#}

<div{{ attributes }}>
    {{ content }}
</div>
